@tailwind base;
@tailwind components;
@tailwind utilities;

#product-box{
  display: flex !important;
}
.slick-slide div{
  margin: 10px!important; 
}

.slick-arrow::before{
  color: #ff5a1f !important;
  font-size: 50px!important;
}

.slick-prev{
  left: -40px!important;
}
.slick-next{
  right: -30px!important;
}